.resume_title::after {
    content: "";

    position: absolute;
    /* Gracias al "position" puedo mover los puntos a mi antojo */
    top: 20px;
    right: 455px;

    width: 50px;
    height: 30px;

    opacity: 0.5;
    background-size: 6px 6px;
    background-image: -webkit-repeating-radial-gradient(center center, var(--color-secondary), var(--color-secondary) 0.8px, transparent 0px, transparent 100%);
    /* Caja de puntos con un gradiente radial "center" -> Para la simetria / Colores para dar forma, fondo y frente / Grosor y definicion de los puntos */
}

.resume_container {
    padding: 4rem;
    padding-top: 0;
    padding-bottom: 2.5rem;
}

.resume_certificates {
    padding: 4rem;
    padding-top: 2rem;
}


.resume_container {
    width: 100%;
    /* 100% del ancho del elemento */
    display: flex;
    flex-direction: row;
    /* Coloca elementos uno al lado del otro */
}

.resume_left {
    flex-basis: 58%;
    margin-right: 1.5rem;
}

.resume_timelines{
    margin-bottom: 5rem;
}

.timelines_item{
    position: relative;
    width: 100%;
    display: flex;
    /* Permite organizar los elementos del propio item */
    flex-direction: row;
}

.resume_right {
    flex-basis: 45%;
}