/* CAJA IZQUIERDA */
.resume_title::after {
    content: "";

    position: absolute;
    /* Gracias al "position" puedo mover los puntos a mi antojo */
    top: 20px;
    right: 455px;

    width: 50px;
    height: 30px;

    opacity: 0.5;
    background-size: 6px 6px;
    background-image: -webkit-repeating-radial-gradient(center center, var(--color-secondary), var(--color-secondary) 0.8px, transparent 0px, transparent 100%);
    /* Caja de puntos con un gradiente radial "center" -> Para la simetria / Colores para dar forma, fondo y frente / Grosor y definicion de los puntos */
}

.resume_container {
    width: 100%;
    /* 100% del ancho del elemento */
    display: flex;
    flex-direction: row;
    /* Coloca elementos uno al lado del otro */

    padding: 8rem;
    padding-top: 0;
    padding-bottom: 2.5rem;
}

.resume_right{
    padding: 4rem;
    padding-top: 2rem;
}

.resume_left{
    flex-basis: 70%;
    margin-left: -2rem;
    margin-right: -1.5rem;
}

.resume_subtitle{
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    font-size: 2.3rem;
    position: relative;
    /* Funciona en conjunto con "inline-block. */

    text-align: right;
    margin-right: 160px; /* Ajusta el valor según tus necesidades */
}


.resume_timelines{
    margin-bottom: 5rem;
    margin-top: 5rem;
}

.timelines_timeline{
    position: relative;
    width: 100%;
    margin-bottom: 1.5rem;

    display: flex;
    /* Permite organizar los elementos del propio item */
    flex-direction: row;
}

.timeline_header {
    flex-basis: 30%;
    /* Separa un article del otro article */
    text-align: right;
    /* Coloca el texto de derecha a izquierda */
    padding-right: 2.5rem;
    /* Genera un paddin a la derecha para terminar de separarlos */
}

.timeline_year {
    margin: 3px 0;
    line-height: 1.9rem;
    font-size: 1.4rem;
}

.timeline_company {
    display: block;
    font-size: 1.4rem;
    font-weight: lighter;
    color: var(--color-company);
}

.timeline_description {
    width: 70%;
    /* El % restante de los 30 de flex-basis */
    padding-right: -2rem;
    color: var(--color-company);
}

.timeline_title {
     font-size: 1.6rem;
}

.timeline_text {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.timeline_divider {
    position: absolute;
    /* Esto me permite modificar y mover los elementos */
    top: 0;
    /* Con esto empieza en el punto 0 del div -> es decir que se estienda desde arriba hasta el pixel 18 */
    left: 30%;
    bottom: -18%;
    /* Esto permite que las lineas se junten y establezcan un largo de la línea */

    width: 1.5px;
    height: auto;
    background-color: var(--color-icons);
    /* Con estos dos estilos ya crea una linea divisora */
}

.timeline_divider::before {
    /* Punto a fuera */
    content: "";
    /* Necesario para crear el pseudo-elemento. Sin esto no se mostrará */
    position: absolute;
    top: 50%;
    /* Posiciona el punto a la mitad del contenedor */
    margin-top: -55px;
    /* Ajusta la posición vertical del punto */
    left: 50%;
    transform: translateX(-50%);
    /* Estos dos estilos centran el pseudo-elemento horizontalmente */

    width: 1.7rem;
    height: 1.7rem;

    border-radius: 10rem;
    opacity: 0.25;
    background-color: var(--color-secondary);
}

.timeline_divider::after {
    /* Punto del centro*/
    content: "";
    /* Necesario para crear el pseudo-elemento. Sin esto no se mostrará */
    position: absolute;
    top: 50%;
    /* Posiciona el punto a la mitad del contenedor */
    margin-top: -51.5px;
    /* Ajusta la posición vertical del punto */
    left: 50%;
    transform: translateX(-50%);
    /* Estos dos estilos centran el pseudo-elemento horizontalmente */

    width: 0.6rem;
    height: 0.6rem;

    border-radius: 10rem;
    border: 2px solid var(--color-secondary);
    opacity: 1;
    background-color: var(--color-primary);
}

/* CAJA DERECHA */
.resume_right {
    flex-basis: 60%;
    padding: 0 3rem;
    padding-right: 10rem;
    /* Achica las barras de % */

}

.resume_skills{
 width: 100%;
 margin-bottom: 3rem;   
}

.skills_title{
    display: flex;
    justify-content: space-between;
}

.skills_text{
    font-size: 1.4rem;
    line-height: 1.4rem;
    margin-top: 0.5rem;
    margin-bottom: 0.4rem;
}

.skills_number{
    font-size: 1.1rem;
    line-height: 1.4rem;
    margin-bottom: 0.4rem;
    color: var(--color-subtitle);
}

.skills_progressbar{
    width: 100%;
    height: 1rem;
    display: inline-block;
    /* Genera un espaciado, espacio en blanco por defecto */


    border-radius: 1rem;
    border: 1px solid var(--color-secondary);
    background-color: var(--color-primary);

    margin-bottom: 1rem;
}

.skills_percentage{
    width: 40%;
    height: 0.8rem;
    background-color: var(--color-secondary);
    border: 1px solid var(--color-primary);
    border-radius: 1rem;
}

PORCENTAJE DE BARRAS
.skills_percentage-p1{width: 90%;}
.skills_percentage-p2{width: 50%;}
.skills_percentage-p3{width: 60%;}

/* PORCENTAJE DE BARRAS */
.skills_percentage-p4{width: 90%;}
.skills_percentage-p5{width: 80%;}
.skills_percentage-p6{width: 60%;}

/* CONOCIMIENTOS */
.knowledges_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* Ayuda a no generar una fila enorme */
}

.knowledges_option{
    padding: 0.4rem 1rem;
    margin: 0.3rem;

    font-size: 1.3rem;
    background-color: var(--color-secondary);
    border-radius: 0.3rem;
    color: var(--color-primary);
}

/* CERTIFICADOS */
.certificates_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center; 
    /* Centra horizontalmente */
    padding: 4rem;
}

.certificates_certificate{
    flex-basis: calc(45% - 2rem);
    border: 2px solid var(--color-border);
    border-radius: 0.8rem;

    display: flex;
    /* Posiciona los elemtos de adentro */
    flex-direction: row;
}

.certificate_logo{
    width: 15rem;
    height: 100%;
    padding: 2.5rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    /* Se aplica a solo los bordes izquierdos superiores e inferiores */

    background-color: var(--color-certificate);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; 
    /* Asegura que el padding y el borde se incluyan en el ancho total */
}

.certificate_image{
    width: 100%;
}

.certificates_content{
    padding: 1rem 2rem;
}

.certificates_title{
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}

.certificate_id{
    display: block;
    /* Para elementos en linea */
    margin-bottom: 0.3rem;
    font-size: 1.3rem;
    color: var(--color-subtitle)
}

.certificate_date{
    font-size: 1.2rem;
    color: var(--color-subtitle)
}