.resume_title::after {
    content: "";

    position: absolute;
    /* Gracias al "position" puedo mover los puntos a mi antojo */
    top: 20px;
    right: 455px;

    width: 50px;
    height: 30px;

    opacity: 0.5;
    background-size: 6px 6px;
    background-image: -webkit-repeating-radial-gradient(center center, var(--color-secondary), var(--color-secondary) 0.8px, transparent 0px, transparent 100%);
    /* Caja de puntos con un gradiente radial "center" -> Para la simetria / Colores para dar forma, fondo y frente / Grosor y definicion de los puntos */
}

.resume_container {
    padding: 4rem;
    padding-top: 0;
    padding-bottom: 2.5rem;
}

.resume_certificates {
    padding: 4rem;
    padding-top: 2rem;
}


.resume_container {
    width: 100%;
    /* 100% del ancho del elemento */
    display: flex;
    flex-direction: row;
    /* Coloca elementos uno al lado del otro */
}

.resume_left {
    flex-basis: 58%;
    margin-right: 1.5rem;
}

.resume_subtitle {
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 2.3rem;
    position: relative;
    /* Funciona en conjunto con "inline-block. */
}

.resume_timelines{
    margin-bottom: 5rem;
}

.timelines_timeline{
    position: relative;
    width: 100%;
    margin-bottom: 1.5rem;

    display: flex;
    /* Permite organizar los elementos del propio item */
    flex-direction: row;
}

.timeline_header{
    flex-basis: 30%;
    /* Separa un article del otro article */
    text-align: right;
     /* Coloca el texto de derecha a izquierda */
    padding-right: 2.5rem; 
     /* Genera un paddin a la derecha para terminar de separarlos */
}

.timeline_year{
    margin: 5px 0;
    line-height: 1.9rem;
    font-size: 1.4rem;
}

.timeline_company{
    display: block;
    font-size: 1.4rem;
    font-weight: lighter;
    color: var(--color-company);
}

.timeline_description{
    width: 70%;
     /* El % restante de los 30 de flex-basis */
    padding-left: 2.5rem;
    padding-right: 1.5rem;

    color: var(--color-company);
}

.timeline_title{
    font-size: 1.6rem;
    margin-bottom: 0.3rem;
}

.timeline_text{
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.resume_right {
    flex-basis: 45%;
}