.contact_container {
    padding: 4rem;
    padding-top: 0;
    padding-bottom: 2.5rem;
    display: flex;
    /* Invierte las "divs" */
    flex-direction: row-reverse; 
}

.contact_info{
    padding: 0 10rem;
    padding-top: 1rem;
}

.contact_form-box{
    padding: 0 2.5rem;
    font-size: 1.8rem;
}

.contact_data{
    width: 100%;
    /* Ya esta por defecto, pero si en futuro lo podemos modificar */
    margin-bottom: 1.5rem;
    padding: 2rem 1rem;
    text-align: center;
    background-color: var(--color-contact);
    border: 1px solid var(--color-icons);
    font-size: 1.3rem;
}

.contact_icon{
    font-size: 2rem;
    color: var(--color-secondary);
}

.contact_subtitle{
    font-size: 1.5rem;
}

.form_button{
    border-radius: 1rem;
}
