.content_about {
    height: 100%;
    /* De la caja que contiene el layout}_content */
    min-height: 100%;
    /* Altura minima fija */

    display: block;
    overflow: auto;
    /* Scroll a dentro del content_about */
}

.about_header {
    padding: 4rem;
    padding-bottom: 0;
}

.about_personal-info {
    padding: 4rem;
    padding-top: 2rem;
    padding-bottom: 0;
}

.about_services {
    padding: 4rem;
}

.services_header {
    padding-bottom: 1.5rem;
}

.services_service {
    padding-bottom: 3rem;
}

.service_description {
    padding-top: 0.5rem;
}

.about_header {
    display: inline-block;
    /* Elemento funciona en linea pero como un bloque - El tamaño se adecua al contenido que tiene */
    top: 20px;
}

.about_title {
    font-size: 3rem;
    position: relative;
    /* Funciona en conjunto con "inline-block. */
}

.about_title::after,
.services_title::after {
    content: "";

    position: absolute;
    /* Gracias al "position" puedo mover los puntos a mi antojo */
    top: 20px;
    right: -25px;

    width: 45px;
    height: 30px;

    opacity: 0.5;
    background-size: 6px 6px;
    background-image: -webkit-repeating-radial-gradient(center center, var(--color-secondary), var(--color-secondary) 0.8px, transparent 0px, transparent 100%);
    /* Caja de puntos con un gradiente radial "center" -> Para la simetria / Colores para dar forma, fondo y frente / Grosor y definicion de los puntos */
}

.title_color {
    color: var(--color-secondary);
}

.about_personal-info {
    display: flex;
    /* Las cajas <section> y <div> se posicionan una al lado de la otra */
    flex-direction: row;
    /* Re afirma la distribución de los elementos en sentido fila */
    width: 100%;
}

.personal-info_bio {
    flex-basis: 55%;
    /* Similar a utilizar un "width" */
}

.personal-info_description {
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.personal-info_data {
    flex-basis: 40%;
    /* Similar a utilizar un "width" */
    padding: 0 1.5rem;
    /* Separa de -personal-info_bio */
}

.personal-info_list {
    font-size: 1.6rem;
    line-height: 2.4rem;
    padding-top: 1rem;
}

.personal-info_option {
    margin-bottom: 2rem;
}

.personal-info_title {
    margin-right: 0.6rem;
    /* Funciona como un espacio en "_title" y "value" */
    color: var(--color-secondary);
    font-weight: 600;
}

/* SERVICIOS */
.about_services{
    width: 100%;
}

.services_header {
    display: inline-block;
    /* Sombra con degradado de puntos */
    position: relative;
    padding-bottom: 3rem;
    /* 30 pixeles aprox de tamaño de escritorio de separación*/

    font-size: 2.1rem;
    /* 21 pixeles aprox */
}

.services_title::after {
    content: "";

    position: absolute;
    /* Gracias al "position" puedo mover los puntos a mi antojo */
    top: 20px;
    right: -12px;

    width: 40px;
    height: 25px;

    opacity: 0.5;
    background-size: 6px 6px;
    background-image: -webkit-repeating-radial-gradient(center center, var(--color-secondary), var(--color-secondary) 0.8px, transparent 0px, transparent 100%);
    /* Caja de puntos con un gradiente radial "center" -> Para la simetria / Colores para dar forma, fondo y frente / Grosor y definicion de los puntos */
}

.service_container{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    /* Distribuye en varias filas */
}
.services_service{
    flex-basis: calc(46% - 4rem);
    /* Elementos se colocan uno al lado del otro - con clalc resta los 4rems de "margin-right" */
    margin-right: 4rem;
    margin-bottom: 3rem;
}
.service_real-icon {
    /* Selector compuesto, acedemos al elemento -> fa-solid */
    color: var(--color-secondary);
    font-size: 3.8rem;
}

.service-title{
    font-size: 1.8rem;
    margin-top: 1.5rem;
}

.service_description{
    font-size: 1.6rem;
    text-align: justify;
    /* Texto "alineado" */
}