.content_resume {
    height: 100%;
    /* De la caja que contiene el layout_content */
    min-height: 100%;
    /* Altura minima fija */

    display: block;
    overflow: auto;
    /* Scroll a dentro del content_about */
}

.resume_header{
    padding: 4rem;
    padding-bottom: 0;
}

.resume_title{
    font-size: 3rem;
    position: relative;
    /* Funciona en conjunto con "inline-block. */
}

.resume_title::after {
    content: "";

    position: absolute;
    /* Gracias al "position" puedo mover los puntos a mi antojo */
    top: 20px;
    right: 455px;

    width: 50px;
    height: 30px;

    opacity: 0.5;
    background-size: 6px 6px;
    background-image: -webkit-repeating-radial-gradient(center center, var(--color-secondary), var(--color-secondary) 0.8px, transparent 0px, transparent 100%);
    /* Caja de puntos con un gradiente radial "center" -> Para la simetria / Colores para dar forma, fondo y frente / Grosor y definicion de los puntos */
}