#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.fa-regular.fa-star {
  font-size: 60px; /* Cambia este valor al tamaño deseado */
}

#root h1 {
font-family: poppins;
font-size: 80px;
font-weight: 600;
font-style: italic;
}