.content_page {
    min-height: 100%; /* Altura minima definida */
    background-color: var(--color-primary);
    border-radius: 4rem;
    
    display: flex; /* Activa la funcionalidad "flex" */
    flex-direction: column; /* Uno debajo del otro */
    align-items: center; /* Elementos verticalmente al centro */
    justify-content: center; /* Elementos alineados al centro */
}

/* HOME */

.page_name{
    font-size: 6rem;
    margin-bottom: 0.5rem;
}

.page_job{
    font-size: 2.2rem;
    font-weight: lighter;
    color: var(--color-subtitle);
}

/* ESTILOS GENERALES */

.content_about, .content_resume {
    height: 100%;
    /* De la caja que contiene el layout_content */
    min-height: 100%;
    /* Altura minima fija */

    display: block;
    overflow: auto;
    /* Scroll a dentro del content_about */
}

.about_header, .resume_header {
    padding: 4rem;
    padding-top: 2rem;

    position: relative;
    display: inline-block;
    /* Elemento funciona en linea pero como un bloque - El tamaño se adecua al contenido que tiene */
    top: 20px;
}

.about_title, .resume_title {
    font-size: 3rem;
    position: relative;
    /* Funciona en conjunto con "inline-block. */
}

.title_color {
    color: var(--color-secondary);
}